[user]
    name = John Zhao
    email = kangzhiz@pm.me

[core]
	excludesfile = /home/k/Documents/main/dotfiles/resources/.global_gitignore

[alias]
    a = add
    aa = add -A
    ac = !git add -A && git commit -m
    bl = blame --color-by-age
    blr = blame --color-by-age -L
    br = branch
    bra = branch -a
    brd = branch -d
    cl = clone
    cm = commit -m
    cma = commit --amend -m
    cman = commit --amend --no-edit
    co = checkout
    cob = checkout -b
    d = diff
    dc = diff --cached
    do = diff ...origin
    f = fetch -vp
    fa = fetch -vp --all
    g = push
    l = log --oneline --graph
    ll = log --stat --graph
    lll = log --patch-with-stat --graph
    m = merge
    rscm = reset --soft @{1}
    rst = restore
    rsts = restore -S
    s = status -sb
    sd = !git diff --stat && git diff --stat --cached
    st = stash list
    std = stash drop
    sto = stash pop -q
    stu = stash push -m
