[user]
    name = John Zhao
    email = kangzhiz@pm.me

[core]
    excludesfile = ~/.gitignore

[diff]
    tool = vimdiff

[alias]
    a = add
    aa = add -A
    bo = checkout -b
    com = commit -m
    coma = commit --amend --no-edit
    comma = commit --amend -m
    cl = clone
    d = diff
    dc = diff --cached
    do = diff ...origin
    l = log --oneline --graph
    ll = log --stat --graph
    lll = log --patch-with-stat --graph
    o = checkout
    p = push
    rest = restore
    rests = restore -S
    s = status -sb
    sd = !git diff --stat && git diff --stat --cached
